/*
 * === Footer style ===
 */

/* Footer style */
footer {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 60px;
  justify-content: center;
  border-top: 1px solid #ccc;
  width: 100%;
}
